.editor {
    background: #313131;
    color: #cccccc;

    padding: 15px 10px;

    min-height: calc(100% - 30px);

    .groupsettings {
        margin-bottom: 20px;
    }

    .title {
        font-weight: bold;
        font-size: 25px;

        border-bottom: solid 1px #cccccc;
        padding-bottom: 3px;
        margin-bottom: 10px;
    }

    label {
        font-weight: bold;
        img {
            max-height: 50px;
            display: block;
        }
        input {
            font-weight: normal;
            background: none;
            color: #cccccc;
            border: solid 1px transparent;

            padding: 2px 5px;

            display: block;

            width: calc(100% - 20px);

            &:focus {
                outline: none;
                border-bottom: solid 1px #cccccc;
            }
        }
    }

    .save {
        font-weight: bold;
        display: block;
        margin-top: 10px;
        border: none;
        background: #cccccc;
        color: #000000;
        padding: 3px 10px;
        border-radius: 5px;

        &.unsaved {
            background: #711111;
            color: #cccccc; 
        }

        &:hover {
            background: #315131;
            color: #cccccc;
        }
    }
}